@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {


    @variants responsive {
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
    }

    @variants responsive {
        /* Hide scrollbar for Chrome, Safari and Opera */
        .with-scrollbar::-webkit-scrollbar {
            width: 5px;
        }

        .with-scrollbar::-webkit-scrollbar-track  {
            background-color: #fafafa;

        }

        .with-scrollbar::-webkit-scrollbar-thumb  {
            background-color: #0db7ed;
            border-radius: 10px;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .with-scrollbar {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
    }
}


